<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="annotated"
>
    <!--bean-discovery-mode="annotated"-->
    <!-- used to manage: interceptors, decorators, alternatives -->
    
    <interceptors>
        <class>org.gopas.training.utils.interceptors.AuditInterceptor</class>
        <class>org.gopas.training.utils.interceptors.AuthorizationInterceptor</class>
    </interceptors>
    
    <!-- if the alternative class is listed here then this class will be injected instead of the previous one without @Alternative tag -->
    
    <!--
    <alternatives>
        <class>org.gopas.training.persistence.dao.jdbctemplate.PersonDaoJdbcTemplateImpl</class>
    </alternatives>
    -->
</beans>
